<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BigMac.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.7.4.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <add name="BigMacEntities" connectionString="server=localhost;Port=3306;Uid=root;database=gliss_panel;Pwd=ja8mt988$$;use procedure bodies=False;" providerName="MySql.Data.MySqlClient" />
    <add name="BigMacEntitiesLocal" connectionString="server=localhost;Port=3306;Uid=root;database=worldso1_info121;Pwd=root" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="pagesize" value="20" />
    <add key="idleSeconds" value="6600000" />
    <!--10 min = 600000-->
    <add key="DefaultBranch" value="HQ" />
    <add key="htmlsrc" value="/Access/BranchStaffIndex" />
    <add key="emailRewards" value="gliss@gmail.com" />
    <add key="emailMain" value="sg@citiwarrior.com" />
    <add key="bcc1" value="michael@info121.com.sg" />
    <add key="bcc2" value="jayson@info121.com.sg" />
    <add key="bcc3" value="alexis@info121.com.sg" />
    <add key="rewardsName" value="Gliss Wellness" />
    <add key="contact" value="65668468" />
    <add key="favicon" value="~/assets/ico/gliss_fav.png" />
    <add key="logo" value="~/Images/gliss_logo.png" />
    <add key="appName" value="Gliss Wellness" />
    <add key="home" value="http://gliss.com.sg/" />
    <add key="outletsSite" value="gliss.com" />
    <add key="membersSite" value="members.gliss.com" />
    <add key="backofficeSite" value="backend.gliss.com" />
    <add key="defaultbranchcode" value="UNMATCHED" />
  </appSettings>
  <system.web>
    <httpRuntime maxRequestLength="52428800" executionTimeout="3600" maxUrlLength="10999" maxQueryStringLength="5000" />
    <compilation debug="true" targetFramework="4.0" tempDirectory="C:\Inetpub\vhosts\citiwarrior.com\tmp" />
    <customErrors mode="Off" />
    <!--<authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" />
    </authentication>-->
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="60" slidingExpiration="true" protection="All" />
    </authentication>
    <sessionState timeout="60" cookieless="false" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="52428800" />
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <applicationSettings>
    <BigMac.Properties.Settings>
      <setting name="BigMac_SMSWS_MsgSender" serializeAs="String">
        <value>http://info121.sytes.net/smsurl/msgSender.asmx</value>
      </setting>
      <setting name="BigMac_RewardsService_QWS" serializeAs="String">
        <value>http://webservice.citiwarrior.com/CBWS.asmx</value>
      </setting>
    </BigMac.Properties.Settings>
  </applicationSettings>
</configuration>