@{
    ViewBag.Title = "Redeem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="row" style="padding-top: 0px;margin-top:0px;">
        <div class ="col-lg-12" style="padding-top: 0px;margin-top:0px;">
            <div class="box" style="padding-top: 0px;margin-top:0px;">
                        <div style ="float:right;padding-right:5px;">
                        <label>Date : &nbsp;&nbsp;&nbsp;@DateTime.Today.ToString("dd MMM yyyy")</label>
                        </div>
                        <div class="clearfix"></div>
                <div class ="box-header">
							<h2><i class="fa fa-edit"></i>Reedem (Branch - CCK )</h2>
							<div class="box-icon">
								<a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
								<a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
								<a href="#" class="btn-close"><i class="fa fa-times"></i></a>
							</div>
                </div>
                <div class ="box-content">
                        <div >
                            <center>
                                <table style="border-spacing:5px;border-collapse:separate;" >
                                    <tr>
                                        <td style="width:200px;"><label class="control-label" >Member Code/Name : </label></td>
                                        <td style="width:250px;"><input type="text"  class ="form-control"/></td>
                                        <td style="width:20px;"></td>
                                        <td><button id="btnsearch" type="button" class="btn btn-primary" value="search" style="width:150px;">Search</button></td>
                                    </tr>
                                </table>
                                </center>
                        </div>
                        <hr width="100%" align="left">
                        <table style="width:100%;border-spacing:5px;border-collapse:separate;padding-left:10px;" >
                            <tr>
                                <td style="text-align:center;width:100px;"><label class="control-label" >Member :</label></td>
                                <td style="text-align:left;width:250px;color:green;font-weight:bold;">M00000001 (Angellin)</td>
                            </tr>
                            <tr>
                                <td colspan ="2" rowspan ="4">
                                    <div style="width:100%;height:100%;border:1px solid #DDD">
                                        <center>
                                        <img src="~/assets/img/Products/girl1.jpg" class ="img-thumbnail" style="width:130px;height:130px;" />
                                        </center>
                                    </div>
                                      
                                </td>
                                <td style ="width:20px;"></td>
                                <td style ="width:150px;"></td>
                                <td style="text-align:center;width:100px;">Gliss$</td>
                                <td style ="width:20px;"></td>
                                <td style="text-align:center;width:100px;">Bonus$</td>
                                <td ></td>
                            </tr>
                            <tr>
                                <td style ="width:20px;"></td>
                                <td><label class="control-label" >Balance</label></td>
                                <td><input type="text" class ="form-control"/></td>
                                <td></td>
                                <td><input type="text" class ="form-control"/></td>
                                <td ></td>
                            </tr>
                            <tr>
                                <td style ="width:20px;"></td>
                                <td><label class="control-label" >Reserved Amount</label></td>
                                <td><input type="text" class ="form-control"/></td>
                                <td></td>
                                <td><input type="text" class ="form-control"/></td>
                                <td ></td>
                            </tr>
                            <tr>
                                <td style ="width:20px;"></td>
                                <td><label class="control-label" >Available</label></td>
                                <td><input type="text" class ="form-control"/></td>
                                <td></td>
                                <td><input type="text" class ="form-control"/></td>
                                <td style="float:right;padding-right:10px;">

                                </td>
                            </tr>
                            <tr>
                                <td colspan ="2">
                                    <label class="control-label" style="color:orange;" >Sales Kit:</label><br />
                                    <select class ="form-control">
                                        <option>Promotion bundle</option>
                                        <option>Hair Promotion</option>
                                        <option>Nail Promotion</option>
                                    </select>
                                </td>
                            </tr>
@*                            <tr style="min-height: 10px;"></tr>
                            <tr>
                                <td ></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>

                                </td>
                            </tr>*@
                        </table>
                    <div>

                    </div>
				<div class="col-lg-12">
					<div class="box">
@*						<div class="box-header">
							<h2><i class="fa fa-align-justify"></i><span class="break"></span>Bordered Table</h2>
							<div class="box-icon">
								<a href="table.html#" class="btn-setting"><i class="fa fa-wrench"></i></a>
								<a href="table.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
								<a href="table.html#" class="btn-close"><i class="fa fa-times"></i></a>
							</div>
						</div>*@
						<div class="box-content">
							<table class="table table-bordered">
								  <thead>
									  <tr>
										  <th>Sr.</th>
										  <th style="width:500px;">Service</th>
										  <th>Gliss$</th>
										  <th>Bonus$</th>
                                          <th style="width:50px;">Select</th>                                             
									  </tr>
								  </thead>   
								  <tbody>
                                      <tr>
                                          <td>1</td>
                                          <td>Nail Art</td>
                                          <td>100</td>
                                          <td>300</td>
                                          <td><center><input type ="checkbox" /></center></td>                                          
                                          
                                      </tr>
                                      <tr>
                                          <td>2</td>
                                          <td>Hair Reborning</td>
                                          <td>500</td>
                                          <td>1000</td>
                                          <td><center><input type ="checkbox" /></center></td>
                                      </tr>
                                      <tr>
                                          <td>3</td>
                                          <td>Hair Perming</td>
                                          <td>800</td>
                                          <td>1600</td>
                                          <td><center><input type ="checkbox" /></center></td>
                                      </tr>
                                      <tr>
                                          <td>4</td>
                                          <td>Face Hydration</td>
                                          <td>500</td>
                                          <td>1000</td>
                                          <td><center><input type ="checkbox" /></center></td>
                                      </tr>
                                      <tr>
                                          <td>5</td>
                                          <td>Face Cleansing</td>
                                          <td>200</td>
                                          <td>400</td>
                                          <td><center><input type ="checkbox" /></center></td>
                                      </tr>
                                      <tr>
                                          <td>6</td>
                                          <td>Face Treatment</td>
                                          <td>2000</td>
                                          <td>4000</td>
                                          <td><center><input type ="checkbox" /></center></td>
                                      </tr>
                                      <tr>
                                          <td>7</td>
                                          <td>Hair Coloring</td>
                                          <td>1000</td>
                                          <td>2000</td>
                                          <td><center><input type ="checkbox" /></center></td>
                                      </tr>
                                  </tbody>
                            </table>
@*                            <div style ="text-align:right;">
							 <ul class="pagination" >
								<li><a href="#">Prev</a></li>
								<li class="active">
								  <a href="#">1</a>
								</li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">Next</a></li>
							 </ul>
                            </div>*@
                            
                            <div style ="text-align:center;float:right;width:100%;">
                                <table style="width:100%;border-spacing:5px;border-collapse:separate;padding-left:10px;">
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td style="width:120px;">Citi $</td>
                                        <td style="width:120px;">Bonus $</td>
                                        @*<td style="width:50px;"></td>*@
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td style="width:120px;">Total</td>
                                        <td><input type="text" class ="form-control" disabled /></td>
                                        <td><input type="text" class ="form-control" disabled/></td>
                                        @*<td></td>*@
                                    </tr>
                                    <tr>
                                        <td colspan ="2"></td>                                        
                                        <td ><br /><button id="reserve" type="button" class="btn btn-primary" value="reserve" style="width:120px;">Reserve</button> </td>
                                        <td><br /><button id ="confirm" type="button" class="btn btn-success" value="confirm" style="width:120px;">Confirm</button> </td>
                                        <td><br /><button id ="print" type="button" class="btn btn-success" value="confirm" style="width:120px;">Print Receipt</button> </td>
                                        @*<td></td>*@
                                    </tr>
                                </table>
                                @*<div style ="float:right;padding-right:10px;">*@
                                        
                                @*</div>*@
                            </div>
                            <br />

                                                         
                            <div class="clearfix"></div>                                                       
                        </div>

@*		                <div class="form-actions">
			                                                  
    		                <button type="button" class="btn btn-primary" value="Save" >Top UP</button>
                            <button type="button" class="btn btn-primary" value="Save" >Create Member</button>
                            <button type="button" class="btn btn-primary" value="Save" >Daily Sales Summary</button>
		                </div>*@
                        </div>
                    </div>
                </div>                   
			            <div class="row" >	
				            <div class="col-lg-12" >
					            <div class="box">
                                          
							    <div class="col-sm-2">
								    <a class="quick-button" href="~/POS/TopUp">
									    <i class="fa fa-money"></i>
									    <p>Top Up</p>
								    </a>
							    </div>

							    <div class="col-sm-2">
								    <a class="quick-button" href="~/POS/Customer/0?type=Customer">
									    <i class="fa fa-user" ></i>
									    <p>Create Member</p>
								    </a>
							    </div>
                                   
							    <div class="col-sm-2">
								    <a class="quick-button" href="~/POS/DailySales">
									    <i class="fa fa-bar-chart-o"></i>
									    <p>Daily Sales Summary</p>
								    </a>
							    </div>                          

@*							    <div class="col-sm-2">
								    <a class="quick-button" href="~/POS/DailyRedemption">
									    <i class="fa fa-bar-chart-o"></i>
									    <p>Daily Redemption</p>
								    </a>
							    </div> *@  

							    <div class="col-sm-2">
								    <a class="quick-button" href="~/POS/MembershipEnquiry">
									    <i class="fa fa-users"></i>
									    <p>Membership Enquiry</p>
								    </a>
							    </div>   


							    <div class="col-sm-2">
								    <a class="quick-button" href="~/POS/ProductListing">
									    <i class="fa fa-list-alt"></i>
									    <p>Product Listing</p>
								    </a>
							    </div>   

							    <div class="col-sm-2">
								    <a class="quick-button" href="~/Home/Index">
									    <i class="fa fa-home"></i>
									    <p>Home</p>
								    </a>
							    </div> 
                                             
                                        @*<div class="clearfix"></div>*@
                                    </div>
                                </div>
                            </div>


                <div class="clearfix"></div>

                </div>
            </div>
        </div>
 