@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<div class="row">*@
<div>
    <input type="hidden" id="uname" value="@Html.Encode(User.Identity.Name)">
    <input type="hidden" id="hidUserRole" value="@HttpContext.Current.Session["userrole"].ToString()">
</div>
<div class="col-sm-6" style="padding-left:0px;padding-right:0px;">
    <div class="col-lg-4" id="DIVREDEEM" style="display:none;" data-rcode="REDEEM">
        <div class="box">
            <div class="box-header">
                <center><i class="fa fa-hand-up"></i></center>
            </div>
            <div class="box-content">
                <div class="col-sm-12">
                    <div class="col-sm-12">
                        <input type="text" class="form-control" placeholder="By Card No" id="txtRedeemMember" data-rcode="REDEEM" />
                    </div>
                    <br />
                    <div class="col-sm-12">
                        <a class="quick-button" onclick="RedeemFunction(this);" id="BTNREDEEM" data-rcode="REDEEM" style="height:30px;">
                            <i class="fa fa-ticket"></i>
                            <p>Redeem</p>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4" id="DIVPKGREDEEM" style="display:none;" data-rcode="PACKAGE REDEEM">
        <div class="box">
            <div class="box-header">
                <center><i class="fa fa-hand-up"></i></center>
            </div>
            <div class="box-content">
                <div class="col-sm-12">
                    <div class="col-sm-12">
                        <input type="text" class="form-control" placeholder="By Card No" id="txtPkgRedeemMember" data-rcode="PACKAGE REDEEM" />
                    </div>
                    <br />
                    <div class="col-sm-12">
                        <a class="quick-button" onclick="PackageRedeemFunction(this);" id="BTNREDEEM" data-rcode="PACKAGE REDEEM" style=" height:30px;">
                            <i class="fa fa-ticket"></i>
                            <p>Package Redeem</p>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4" id="DIVTOPUP" style="display:none;" data-rcode="TOPUP">
        <div class="box">
            <div class="box-header">
                <center><i class="fa fa-hand-up"></i></center>
            </div>
            <div class="box-content">
                <div class="col-sm-12">
                    <div class="col-sm-12">
                        <input type="text" class="form-control" placeholder="By Card No" id="txtTopUpMember" data-rcode="TOPUP" />
                    </div>
                    <br />
                    <div class="col-sm-12">
                        <a class="quick-button" onclick="TopUpFunction(this);" id="BTNTOPUP" data-rcode="TOPUP">
                            <i class="fa fa-money"></i>
                            <p>Club</p>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    @*</div>*@

    @*<div class="row">*@



    @*</div>*@
    @*<div class="row">*@
    <div class="col-lg-12" id="DIVPRODUCT" style="display:none;" data-rcode="PRODUCT">
        <div class="box">
            <div style="float:right;padding-right:5px;">
                @*<label>Date : &nbsp;&nbsp;&nbsp;@DateTime.Today.ToString("dd MMM yyyy")</label>*@
            </div>
            @*<div class="clearfix"></div>*@
            <div class="box-header">
                <center><i class="fa fa-hand-up"></i>Product</center>
            </div>
            <div class="box-content">
                <div class="col-sm-12">
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="By Product Code/Alternate Code/Description" id="txtProductDesc" />
                    </div>
                    <div class="col-sm-2" style="padding-left:0px;">
                        <button type="button" style="width:80px;height:28px;" onclick="productSearchFunction();" id="btnProductSearch">Search</button>
                        @* @Html.ActionLink("Search", "Index", new { ptype = "%",filter " }, new  { @class="btn btn-primary"}) *@
                    </div>
                </div>
                <div class="clearfix"></div>
                <br />
                <div class="col-sm-12" @*style="padding-top:10px;margin-top:10px;"*@ id="divProduct">
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    @*<div class="clearfix"></div>*@


    @*</div>*@
    @*<div class="clearfix"></div>*@
    @*<div class="row">*@





    @*<div class="clearfix"></div>*@
    <div class="col-lg-6" id="DIVPROMOTION" style="display:none;" @*data-rcode="PROMOTION"*@>
        <div class="box">
            <div style="float:right;padding-right:5px;">
                @*<label>Date : &nbsp;&nbsp;&nbsp;@DateTime.Today.ToString("dd MMM yyyy")</label>*@
            </div>

            <div class="box-header">
                <center><i class="fa fa-hand-up"></i>Promotion</center>
            </div>
            <div class="box-content">
                <div class="col-sm-12">
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="By Product Code/Alternate Code/Description" id="txtProductDesc" />
                    </div>
                </div>
                <div class="clearfix"></div>
                <br />
                <div class="col-sm-12">

                    <div class="col-sm-4" style="display:none;" data-rcode="PROMOTIONLISTING">
                        <a class="quick-button" id="BTNPROMOTIONLISTING" data-rcode="PROMOTIONLISTING" onclick="PromotionListingFunction(this);">
                            <i class="fa fa-signal"></i>
                            <p>Listing</p>
                        </a>
                    </div>

                    <div class="col-sm-4" style="display:none;" data-rcode="PROMOTIONSAVE">
                        <a class="quick-button" id="BTNPROMOTIONSAVE" data-rcode="PROMOTIONSAVE" onclick="PromotionSaveFunction(this);">
                            <i class="fa fa-gift"></i>
                            <p>Create</p>
                        </a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="col-lg-2" id="DIVCHECKIN" style="display:none;" @*data-rcode="CHECKIN"*@>
        <div class="box">
            <div class="box-header">
                <center><i class="fa fa-hand-up"></i></center>
            </div>
            <div class="box-content">
                <div class="col-sm-12">
                    <div class="col-sm-12">
                        <input type="text" class="form-control" placeholder="By Card No" id="txtCheckInMember" />
                    </div>
                    <br />
                    <div class="col-sm-12">
                        <a class="quick-button" onclick="MemberCheckInOut(1);" id="BTNCHECKIN" data-rcode="CHECKIN">
                            <i class="fa fa-sign-in"></i>
                            <p>Check In</p>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-2" id="DIVCHECKOUT" style="display:none;" @*data-rcode="CHECKOUT"*@>
        <div class="box">
            <div class="box-header">
                <center><i class="fa fa-hand-up"></i></center>
            </div>
            <div class="box-content">
                <div class="col-sm-12">
                    <div class="col-sm-12">
                        <input type="text" class="form-control" placeholder="By Card No" id="txtCheckOutMember" />
                    </div>
                    <br />
                    <div class="col-sm-12">
                        <a class="quick-button" onclick="MemberCheckInOut(0);" id="BTNCHECKOUT">
                            <i class="fa fa-sign-out"></i>
                            <p>Check Out</p>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12" id="DIVPRODUCTTRANSFER" style="display: block ;" data-rcode="PRODUCTTRANSFER">
        <div class="box">
            <div class="box-header">
                <center><i class="fa fa-hand-up"></i>Transfer</center>
            </div>
            <div class="box-content">
                <div class="col-sm-4">
                    @*<a class="quick-button" href="~/Product/ProductCitiBellaList?" id="BTNTRANSFERPRODUCT" data-rcode="TRANSFERPRODUCT">*@
                    <a class="quick-button" id="BTNTRANSFERPRODUCT" data-rcode="PRODUCTTRANSFER" onclick="TransferProductFunction(this);">
                        <i class="fa fa-share-square-o"></i>
                        <p>Product Transfer</p>
                    </a>
                </div>
                <div class="col-sm-4">
                    @*<a class="quick-button" href="~/Product/PostedProductCitiBellaList" id="BTNCOMPLETETRANSFER" data-rcode="COMPLETETRANSFER">*@
                    <a class="quick-button" id="BTNCOMPLETETRANSFER" data-rcode="COMPLETETRANSFER" onclick="CompleteTransferFunction(this);">
                        <i class="fa fa-share-square-o"></i>
                        <p>Completed Transfer</p>
                    </a>
                </div>

                <div class="col-sm-4">
                    <a class="quick-button" onclick="CustomerTransferFunction(this);" id="BTNCITIMEMBERLISTING" data-rcode="CUSTOMERTRANSFER">
                        <i class="fa fa-share-square-o"></i>
                        <p>Customer Transfer</p>
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="col-lg-3" id="DIVCHATGROUP" style="display:none;" data-rcode="ChatGroup">
        <div class="box">
            <div class="box-header">
                <center><i class="fa fa-hand-up"></i></center>
            </div>
            <div class="box-content">
                <div class="col-sm-12">
                    <a class="quick-button" href="~/Message/Index" id="BTNCHATDETAIL" data-rcode="ChatGroup" @*style="height:30px;"*@>
                        <i class="fa fa-comments-o"></i>
                        <p>Chat Groups</p>
                    </a>
                </div>
                <div class="clearfix"></div>

            </div>
        </div>
    </div>



    <div class="col-lg-6" style="display:none;" id="DIVRBRANCHSTAFF" data-rcode="BRANCHSTAFF">
        <div class="box">
            <div style="float:right;padding-right:5px;">
                @*<label>Date : &nbsp;&nbsp;&nbsp;@DateTime.Today.ToString("dd MMM yyyy")</label>*@
            </div>

            @*<div class="clearfix"></div> *@

            <div class="box-header">
                <center><i class="fa fa-hand-up"></i>Staff Entry</center>
            </div>

            <div class="box-content">
                <div class="col-sm-12" style="display:none;" data-rcode="BRANCHSTAFF">
                    <a class="quick-button" id="BTNBRANCHSTAFF" data-rcode="BRANCHSTAFF" onclick="BranchStaffFunction(this);">
                        <i class="fa fa-user"></i>
                        <p>Branch Staff List</p>
                    </a>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="col-lg-6" id="DIVSTAFFLIST" style="display:block;" data-rcode="STAFFLIST">
        <div class="box">
            <div class="box-header">
                <center><i class="fa fa-hand-up"></i>Staff Home Page</center>
            </div>
            <div class="box-content">
                <div class="col-sm-12">
                    <a class="quick-button" id="BTNSTAFFPAGE" data-rcode="STAFFPAGE" href="~/Access/BranchStaffIndex">
                        <i class="fa fa-user"></i>
                        <p>Staff Page</p>
                    </a>
                </div>
                <div class="clearfix"></div>

            </div>
        </div>
    </div>

    <div class="clearfix"></div>
</div>
<div class=" col-sm-6" style="padding-left:0px; padding-right:0px;">
    <div class="col-lg-12" id="DIVMEMBER" style="display:none;" data-rcode="MEMBER">
        <div class="box">
            <div style="float:right;padding-right:5px;">
                @*<label>Date : &nbsp;&nbsp;&nbsp;@DateTime.Today.ToString("dd MMM yyyy")</label>*@
            </div>
            @*<div class="clearfix"></div>*@
            <div class="box-header">
                <center><i class="fa fa-hand-up"></i>Membership</center>
            </div>
            <div class="box-content d-flex justify-content-center">

                @if (HttpContext.Current.Session["userrole"].ToString() != "IPADMEMBER")
                {
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="By MemberCode/Name/NRIC/Mobile/Cardno" id="txtMemberDesc" data-rcode="MEMBERLISTING" />
                    </div>
                    <div class="col-sm-2" style="padding-left:0px;height:28px;">
                        <button type="button" style="width:80px;height:28px;" onclick="MemberSearchFunction(this);" id="btnMemberSearch" data-rcode="MEMBERLISTING">Search</button>
                    </div>

                }

                <div class="clearfix"></div>
                <br />

                <div class="col-sm-3" style="visibility: hidden;" data-rcode="MEMBERLISTING">
                    <a class="quick-button" onclick="MemberSearchFunction(this);" id="BTNMEMBERLISTING" data-rcode="MEMBERLISTING">
                        <i class="fa fa-users"></i>
                        <p>Enquiry</p>
                    </a>
                </div>

            
                <div id="divCreateMember" class="col-sm-3" style="visibility: hidden;" data-rcode="CREATEMEMBER">
                    <a class="quick-button" onclick="CreateMemberFunction(this);" id="BTNCREATEMEMBER" data-rcode="CREATEMEMBER">
                        <i class="fa fa-user"></i>
                        <p>Create Member</p>
                    </a>
                </div>
               
                <div class="col-sm-3" style="visibility: hidden;" data-rcode="MEMBERCARDPRINT">
                    <a class="quick-button" onclick="printMemberCardFunction(this);" id="BTNPRINTCARD" data-rcode="MEMBERCARDPRINT">
                        <i class="fa fa-credit-card"></i>
                        <p>Print Card</p>
                    </a>
                </div>
                <div class="col-sm-3" style="visibility: hidden;" data-rcode="MEMBERCARDCOLLECTION">
                    <a class="quick-button" onclick="memberCardCollectionFunction(this);" id="BTNMEMBERCARDCOLLECTION" data-rcode="MEMBERCARDCOLLECTION">
                        <i class="fa fa-credit-card"></i>
                        <p>Card Collection</p>
                    </a>
                </div>

                <div class="clearfix"></div>

            </div>

        </div>
    </div>

    <div class="col-lg-12" id="DIVSALE" style="display:none;" data-rcode="SALE">
        <div class="box">
            <div style="float:right;padding-right:5px;">
                @*<label>Date : &nbsp;&nbsp;&nbsp;@DateTime.Today.ToString("dd MMM yyyy")</label>*@
            </div>
            @*<div class="clearfix"></div>*@
            <div class="box-header">
                <center><i class="fa fa-hand-up"></i>Sales</center>
            </div>
            <div class="box-content">
                <div class="col-sm-4" style="display:none;" data-rcode="PRODUCTPACKAGE">
                    <a class="quick-button" href="~/Product/ProductListing?ptype=PACKAGE" id="BTNPRODUCTLISTINGPACKAGE" data-rcode="PRODUCTPACKAGE">
                        <i class="fa fa-dollar"></i>
                        <p>Package</p>
                    </a>
                </div>
                <div class="col-sm-4" style="display:none;" data-rcode="PRODUCTSALESKIT">
                    <a class="quick-button" href="~/Product/ProductListing?ptype=SALESKIT" id="BTNPRODUCTLISTINGSALESKIT" data-rcode="PRODUCTSALESKIT">
                        <i class="fa fa-wrench"></i>
                        <p>Sales Kit</p>
                    </a>
                </div>
                <div class="col-sm-4" style="display:none;" data-rcode="POS">
                    <a class="quick-button" href="~/POS/POS" id="BTNPOS" data-rcode="POS">
                        <i class="fa fa-dollar"></i>
                        <p>POS</p>
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>


    <div class="col-lg-12" id="DIVAPPOINTMENT" style="display:none;" data-rcode="APPTMENT">
        <div class="box">
            <div style="float:right;padding-right:5px;">
                @*<label>Date : &nbsp;&nbsp;&nbsp;@DateTime.Today.ToString("dd MMM yyyy")</label>*@
            </div>

            <div class="box-header">
                <center><i class="fa fa-hand-up"></i>Appointment</center>
            </div>
            <div class="box-content">
                <div class="col-sm-3" style="display:none;" data-rcode="APPOINTMENTREPORT">
                    <a class="quick-button" href="~/Appointment/Index" id="BTNAPPOINTMENTREPORT" data-rcode="APPOINTMENTREPORT">
                        <i class="fa fa-calendar-o"></i>
                        <p>Daily <br /> Appointment</p>
                    </a>
                </div>
                <div class="col-sm-3" style="display:none;" data-rcode="ORDER">
                    <a class="quick-button" href="~/POS/SalesOrder" id="BTNORDER" data-rcode="ORDER">
                        <i class="fa fa-dollar"></i>
                        <p>Order <br/>Taking</p>
                    </a>
                </div>
                <div class="col-sm-3" style="display:none;" data-rcode="ORDER">
                    <a class="quick-button" href="~/POS/AttendanceListing" id="BTNORDER" data-rcode="ORDER">
                        <i class="fa fa-calendar"></i>
                        <p>Customer <br />Attendance</p>
                    </a>
                </div>
                <div class="col-sm-3" style="display:none;" data-rcode="ORDER">
                    <a class="quick-button" href="~/POS/AppointmentListing" id="BTNORDER" data-rcode="ORDER">
                        <i class="fa fa-list"></i>
                        <p>Appointment <br />Listing</p>
                    </a>
                </div>
                @*<div class="col-sm-4" style="display:none;" data-rcode="APPOINTMENTREPORT">
                    <a class="quick-button" href="~/Appointment/Report" id="BTNAPPOINTMENTREPORT" data-rcode="APPOINTMENTREPORT">
                        <i class="fa fa-list-alt"></i>
                        <p>Appointment Report</p>
                    </a>
                </div>*@
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="col-lg-12" style="display:none;" id="DIVINVENTORY" data-rcode="INVENTORY">
        <div class="box">
            <div style="float:right;padding-right:5px;">
             
            </div>

            <div class="box-header">
                <center><i class="fa fa-hand-up"></i>Inventory</center>
            </div>

            <div class="box-content">
                <div class="col-sm-3" style="display:none;" data-rcode="STOCK LISTING">
                    <a class="quick-button" id="BTNSTOCKLISTING" data-rcode="STOCK LISTING" onclick="StockListingFunction(this);">
                        <i class="fa fa-list"></i>
                        <p>Stock <br />Listing</p>
                    </a>
                </div>
               <div class="col-sm-3" style="display:none;" data-rcode="STOCK RECEIVED">
                    <a class="quick-button" id="BTNSTOCKRECEIVED" data-rcode="STOCK RECEIVED" onclick="StockReceivedFunction(this);">
                        <i class="fa fa-list"></i>
                        <p>Stock <br />Received List</p>
                    </a>
                </div>
                <div class="col-sm-3" style="display:none;" data-rcode="STOCK ADJUSTMENT">
                    <a class="quick-button" id="BTNSTOCKADJ" data-rcode="STOCK ADJUSTMENT" onclick="StockAdjustmentFunction(this);">
                        <i class="fa fa-list"></i>
                        <p>Stock <br />Adjustment List</p>
                    </a>
                </div>
                <div class="col-sm-3" style="display:none;" data-rcode="STOCK TRANSFER">
                    <a class="quick-button" id="BTNSTOCKTRSF" data-rcode="STOCK TRANSFER" onclick="StockTransferFunction(this);">
                        <i class="fa fa-list"></i>
                        <p>Stock <br />Transfer List</p>
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="col-lg-12" id="DIVREPORT" style="display:none;" data-rcode="REPORT">
        <div class="box">
            <div style="float:right;padding-right:5px;">
                @*<label>Date : &nbsp;&nbsp;&nbsp;@DateTime.Today.ToString("dd MMM yyyy")</label>*@
            </div>

            @* <div class="clearfix"></div> *@

            <div class="box-header">
                <center><i class="fa fa-hand-up"></i>Reports</center>
            </div>

            <div class="box-content">
                <div class="col-sm-4" style="display:none;" data-rcode="REPORTDAILYSALES">
                    <a class="quick-button" id="BTNTRANSFERPRODUCT" data-rcode="REPORTDAILYSALES" onclick="rptDailySalesFunction(this);">
                        <i class="fa fa-list-alt"></i>
                        <p>Daily Sales</p>
                    </a>
                </div>

                <div class="col-sm-4" style="display:none;" data-rcode="REPORTDAILYREDEEM">
                    <a class="quick-button" id="BTNTRANSFERPRODUCT" data-rcode="REPORTDAILYREDEEM" onclick="rptDailyRedeemFunction(this);">
                        <i class="fa fa-list-alt"></i>
                        <p>Daily Redemption</p>
                    </a>
                </div>

                <div class="col-sm-4" style="display:none;" data-rcode="REPORTSERVICE">
                    <a class="quick-button" id="BTNSERVICECOMMISSION" data-rcode="REPORTSERVICE" onclick="rptServiceFunction(this);">
                        <i class="fa fa-list-alt"></i>
                        <p>Service By Branch</p>
                    </a>
                </div>

                <div class="clearfix"></div>
                <div class="col-sm-12" style="min-height: 10px;"></div>
                @*<br/>*@


                <div class="col-sm-4" style="display:none;" data-rcode="REPORT MEMBER TRANSACTION">
                    <a class="quick-button" id="BTNREPORTMEMBERTRANSACTION" data-rcode="REPORT MEMBER TRANSACTION" onclick="rptMemberTransactionListFunction(this);">
                        <i class="fa fa-list-alt"></i>
                        <p>Member Transactions</p>
                    </a>
                </div>

                <div class="col-sm-4" style="display:none;" data-rcode="REPORTPRODUCT">
                    <a class="quick-button" id="BTNREPORTPRODUCT" data-rcode="REPORTPRODUCT" onclick="rptProductListFunction(this);">
                        <i class="fa fa-list-alt"></i>
                        <p>Product Listing</p>
                    </a>
                </div>

                <div class="col-sm-4" style="display:none;" data-rcode="REPORTVOIDLIST">
                    <a class="quick-button" id="BTNREPORTVOIDLIST" data-rcode="REPORTVOIDLIST" onclick="rptVoidTransactionListFunction(this);">
                        <i class="fa fa-list-alt"></i>
                        <p>VOID Transaction</p>
                    </a>
                </div>

                <div class="col-sm-4" style="display:none;" data-rcode="REPORTNEWMEMBERS">
                    <a class="quick-button" id="BTNNEWMEMBERS" data-rcode="REPORTNEWMEMBERS" onclick="rptNewMember(this);">
                        <i class="fa fa-list-alt"></i>
                        <p>NEW MEMBERS</p>
                    </a>
                </div>

                <div class="clearfix"></div>
                <div class="col-sm-12" style="min-height: 10px;"></div>

                <div class="col-sm-4" style="display:none;" data-rcode="REPORTSERVICECOMMISSION">
                    <a class="quick-button" id="BTNSERVICECOMMISSION" data-rcode="REPORTSERVICECOMMISSION" onclick="rptServiceCommissionFunction(this);">
                        <i class="fa fa-list-alt"></i>
                        <p>Service Commission</p>
                    </a>
                </div>

                <div class="col-sm-4" style="display:none;" data-rcode="REPORTPRINTCARD">
                    <a class="quick-button" id="BTNREPORTPRINTCARD" data-rcode="REPORTPRINTCARD" onclick="rptPrintCardFunction(this);">
                        <i class="fa fa-list-alt"></i>
                        <p>Card List To Print</p>
                    </a>
                </div>

                <div class="col-sm-4" style="display:none;" data-rcode="REPORTMEMBERSLISTBYDOB">
                    <a class="quick-button" id="BTNMEMBERSLISTBYDOB" data-rcode="REPORTMEMBERSLISTBYDOB" onclick="rptMembersListByDOB(this);">
                        <i class="fa fa-list-alt"></i>
                        <p>Members list by DOB</p>
                    </a>
                </div>
                

                <div class="clearfix"></div>
            </div>
        </div>
    </div>



</div>

<div class="clearfix"></div>

@*</div>*@


<script type="text/javascript">

    // DIVPRODUCTTRANSFER
    //DIVSTAFFLIST
  
        var userrole = $("#hidUserRole").val();

        if (userrole == 'IPADMEMBER') {
            $("#DIVPRODUCTTRANSFER").hide();
            $("#DIVSTAFFLIST").hide();

            $("#divCreateMember").addClass('col-sm-6');
            $("#divCreateMember").removeClass('col-sm-3');

        }
   
        $(function () {
            showProductCategory();
            $('#txtTopUpMember').live("keypress", function (e) {
                if (e.keyCode == 13) {
                    TopUpFunction(this);
                    return false; // prevent the button click from happening
                }
            });

            $('#txtRedeemMember').live("keypress", function (e) {
                if (e.keyCode == 13) {
                    RedeemFunction(this);
                    return false; // prevent the button click from happening
                }
            });

            $('#txtPkgRedeemMember').live("keypress", function (e) {
                if (e.keyCode == 13) {
                    PackageRedeemFunction(this);
                    return false; // prevent the button click from happening
                }
            });

            $('#txtProductDesc').live("keypress", function (e) {
                if (e.keyCode == 13) {
                    productSearchFunction();
                    return false; // prevent the button click from happening
                }
            });

            $('#txtMemberDesc').live("keypress", function (e) {
                if (e.keyCode == 13) {
                    MemberSearchFunction(this);
                    return false; // prevent the button click from happening
                }
            });

            $('#txtCheckInMember').live("keypress", function (e) {
                if (e.keyCode == 13) {
                    MemberCheckInOut(1);
                    return false; // prevent the button click from happening
                }
            });

            $('#txtCheckOutMember').live("keypress", function (e) {
                if (e.keyCode == 13) {
                    MemberCheckInOut(0);
                    return false; // prevent the button click from happening
                }
            });
            showhideFunction();
        });

        function productSearchFunction() {
            var desc = $('#txtProductDesc').val();
            window.open("../Product/ProductListing?ptype=%&filter=" + desc, "_self");
        }

        function showProductCategory() {
            //var pid = $('#pid').val();
            //alert("topup");
            $.ajax({
                url: '@Url.Action("getProductCategoryForIndex", "Product")',
                //data: { ptype: "TopUp", filter: "%", cat: "", brand: "", firstUOM: 0 },
                type: 'POST',
                success: function (data) {
                    //if (data)
                    //alert(data);
                    populateProductCategory(data);
                },
                error: function (ts) { alert(ts.responseText) }
            });
        }

        function populateProductCategory(data) {
            //divProduct
            var Htmlstr = "";
            for (var x = 0; x < data.length; x++) {
                if (data[x].Category != "Package") {
                    Htmlstr += "<div class='col-sm-4'><a class='quick-button' href='../Product/ProductListing?rcode=PRODUCT&ptype=" + data[x].Category + "'><i class='fa fa-list-alt'></i><p>" + data[x].Category + "</p></a> </div>";
                    if (((x + 1) % 3 == 0) && x != 0) Htmlstr += "<div class='clearfix'></div><div class='col-sm-12'  style='min-height: 10px;'></div>";
                    //if (((x + 1) % 3 == 0) && x != 0) Htmlstr += "<div class='clearfix'><div class='col-sm-12' style='min-height:10px;'></div>";
                }
            }

            Htmlstr += "<div class='col-sm-4'><a class='quick-button' href='../Product/ProductSave?id=0&amp;ptype=Package'><i class='fa fa-list-alt'></i><p>Package Setup</p></a> </div>";
            $('#divProduct').html(Htmlstr);

        }

</script>
@*			<div class="row">
        <div class="col-lg-12">
            <div class="box">
                <div style ="float:right;padding-right:5px;">
                <label>Date : &nbsp;&nbsp;&nbsp;@DateTime.Today.ToString("dd MMM yyyy")</label>
                </div>
                <div class="clearfix"></div>
                <div class="box-header">
                    <center><i class="fa fa-hand-up"></i>Main Menu</center>
                </div>
                <div class="box-content">

                    <div class="row" style ="padding:20px;">

                        <div class="col-sm-2">
                            <a class="quick-button" href="~/POS/DailySales">
                                <i class="fa fa-bar-chart-o"></i>
                                <p>Daily Sales Summary</p>
                            </a>
                        </div>


                        <div class="col-sm-2" style="margin-top :20px;">
                            <a class="quick-button" href="#">
                                <i class="fa fa-list-alt"></i>
                                <p>HQ Reports</p>
                            </a>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>*@

@*
    <div class="col-sm-3">
        <a class="quick-button" href="~/Product/ProductListing?ptype=SPA">
            <i class="fa fa-list-alt"></i>
            <p>SPA</p>
        </a>
    </div>
    <div class="col-sm-3">
        <a class="quick-button" href="~/Product/ProductListing?ptype=SKIN">
            <i class="fa fa-list-alt"></i>
            <p>SKIN</p>
        </a>
    </div>
    <div class="col-sm-3">
        <a class="quick-button" href="~/Product/Index?ptype=SHAPE">
            <i class="fa fa-list-alt"></i>
            <p>Shape</p>
        </a>
    </div>
    <div class="col-sm-3">
        <a class="quick-button" href="~/Product/Index?ptype=Package">
            <i class="fa fa-list-alt"></i>
            <p>Package</p>
        </a>
    </div>
    <div class="col-sm-3">
        <a class="quick-button" href="~/Product/Index?ptype=TopUp">
            <i class="fa fa-list-alt"></i>
            <p>Top Up</p>
        </a>
    </div>
*@

@*				<div class="col-lg-6">
            <div class="box">
            </div>
        </div>

    </div>*@
